<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{sbname}} - Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script src="{{ url_for('static', filename='index.js') }}" defer></script>
  </head>
  <body>
    {% if validpass %}
    <div class="container">
      <h1 class="welcome">Welcome to {{ sbname }} {{ name }}!</h1>
      <div class="commonContainer">
          <div class="buttoncontainer">
            <button onclick="settings()">Settings</button>
            <button>Test</button>
            <button>Test</button>
            <button>Test</button>
          </div>
          <div class="textcontainer">
            <p>Servers: {{servers}}</p>
            <p>Friends: {{friends}}</p>
          </div>
      </div>
    </div>
    {% else %}
    <div>
      <h1>Enter the panel password:</h1>
      <input type="text" name="pass" value="pass" id="pass">
      <button onclick="validate()" type="submit">Submit</button>
    </div>
    {%endif%}
  </body>
</html>
