<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{sbname}} - Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script>
      function settings() {
        window.location.href = "/settings";
      }
      async function setSetting(settingName){
        // if its a checkbox then get the "checked" attribute
        if (document.getElementById(settingName).type == "checkbox") {
          var value = document.getElementById(settingName).checked;
        } else {
          var value = document.getElementById(settingName).value;
        }
        alert("{{sess}}")
        let res = await fetch("/api/setting/set/" + settingName,{
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({
            "password": "{{ sess }}",
            "value": value
          })
        })
        let resp = await res.json()
        console.log(resp)
        if(resp.status != "SUCCESS") {
          alert(resp.content) 
        }
      }
    </script>
  </head>
  <body>
    <div class="container">
      <div class="commonContainer">
        <div class="buttoncontainer">
          <button onclick="settings()">Settings</button>
          <button>Test</button>
          <button>Test</button>
          <button>Test</button>
        </div>
        <div class="settingsContainer">
          <h1>Settings</h1>
          <div class="settings">
            {% for setting in settings.settings %}
            <div class="setting">
                <h2>{{ setting.name }}</h2>
                <div class="sitem">
                {% if setting.wtype == WidgetType.STRING %}
                <input type="text" value="{{ setting.value }}" name="{{ setting.name }}" id="{{setting.name}}"> 
                {% elif setting.wtype == WidgetType.NUMBER_FIELD %}
                <input type="number" name="{{ setting.name }}" id="{{setting.name}}" value="{{setting.value}}">
                {% elif setting.wtype == WidgetType.NUMBER_SLIDER %}
                <input type="range" name="{{ setting.name }}" id="{{setting.name}}" value="{{setting.value}}" min="0" max="100">
                {% elif setting.wtype == WidgetType.BOOLEAN %}
                <div class="cbwrapper">
                  <input type="checkbox" name="{{ setting.name }}" id="{{setting.name}}" {%if setting.value %}checked{%endif%}>                 
                </div>
                {% endif %}

                <button type="submit" onclick="setSetting('{{ setting.name }}')">Set Setting</button>
                            </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
